$pdf-sidebar: false;

$font-text-main: 'Times New Roman', Times, serif;
$font-text-secondary: Arial, Helvetica, sans-serif;
$font-display-main: Arial, Helvetica, sans-serif;
$font-display-secondary: 'Times New Roman', Times, serif;

$font-size-default: 10pt !default;
$line-height-default: 12pt !default; // Set in points. For consistent baselines, all other line heights and vertical spaces are based on this.

// First, we set several variables related to overall page setup.
$page-width: 215.9mm !default;
$page-height: 279.4mm !default;
$margin-top: 72pt !default; // set in points to align with baseline grid
$margin-bottom: 60pt !default;
$margin-outside: 32mm !default;
$margin-inside: 32mm !default;

// Should chapters start on a right-hand page (recto) or on any page?
// This setting applies to the frontmatter, dedication-page, epigraph-page and chapter page styles.
// (The halftitle-page, title-page and contents-page page styles always start on a recto.)
$start-on: auto !default; // right or auto or left ()

// Do you want space between paragraphs, rather than a text-indent? true or false
$spaced-paras: true !default;

$verso-top: string(book-title);
$recto-top: string(book-title);
$verso-top-frontmatter: normal;
$recto-top-frontmatter: normal;

$verso-bottom: counter(page) "\A Copyright © 2021 IEEE. All rights reserved.";
$recto-bottom: counter(page) "\A Copyright © 2021 IEEE. All rights reserved.";
$verso-bottom-frontmatter: counter(page);
$recto-bottom-frontmatter: counter(page);

$footer-space-from-bottom: $margin-bottom / 4 !default;
$footer-space-from-text: $line-height-default / 2 !default;

$header-letter-spacing: 0 !default;
$footer-letter-spacing: 0 !default;
$header-text-align: center;
$footer-text-align: center;

$code-background-color: #f4f4f4;