// FOOTNOTES

@page {
  @footnote {
    border-top: thin solid $black;
    border-clip: 20em; 
    margin-top: 1.5 * $line-height-default;
  }
}


.footnote-ref {
  float: footnote;
  footnote-style-position: inside;
  font-size: 8pt;
  line-height: 1.2;
  
  &::footnote-marker {
    content: counter(footnote);
    font-size: 0.7em;
    vertical-align: super;
    margin-right: 1em;
  }
}

sup {
  line-height: none;
  vertical-align:top;
}