// LISTS

.wrapper:not(.contents-page) {
  p + ol, p + ul {
    margin-top: - 0.75 * $line-height-default;
  }

  // Ordered lists
  ol {
    padding-left: 0;

    // First level
    counter-reset: list;
    margin-left: 2 * $paragraph-indent;

    & > li {
      list-style: none;
      margin-top: $line-height-default / 4;
      margin-left: $line-height-default;

      &:before {
        // First level is labelled with lowercase letters
        content: counter(list, lower-alpha) ") ";
        counter-increment: list;
        left: $paragraph-indent;
        position: absolute;
      }
    }

    ol {
      // Second level
      counter-reset: sublist;
      margin-left: $paragraph-indent;
    
      li:before {
        // Second level is labelled with numbers
        content: counter(sublist) ") ";
        counter-increment: sublist;
        left: 2 * $paragraph-indent + $line-height-default;
      }

      ol {
        // Third level
        counter-reset: subsublist;
        margin-left: $paragraph-indent;
        
        li:before {
          // Third level is labelled with lowercase roman numerals
          content: counter(subsublist, lower-roman) ") ";
          counter-increment: subsublist;
          left: 3 * $paragraph-indent + 2 * $line-height-default;
        }
      }
    }
  }

  // Unordered lists
  ul {
    margin-left: 2 * $paragraph-indent;

    & > li {
      list-style: none;
      margin-top: $line-height-default / 4;

      &:before {
        content: "―";
        position: absolute;
        left: 10pt;
      }
    }
  }

  li li:before {
    left: 2 * $paragraph-indent + $line-height-default;
  }
}