// TYPOGRAPHY

.title {
  font-family: $font-display-main;
  font-size: 2.3 * $font-size-default;
  font-weight: bold;
  line-height: 1.2em;
  text-align: center;
}

h1 {
  font-size: 1.2 * $font-size-default;
  line-height: 2em;
  text-align: left;
}

h2 {
  font-size: 1.1 * $font-size-default;
  text-align: left;
}

:not(.toc-entry-title) > a[href]:not(.footnote) {
  color: blue;
  text-decoration: underline;
}

.annex h1 strong {
  font-weight: normal;

  &:before, &:after {
    content: '\a';
    white-space: pre;
  }
}