// // PAGE BREAKS

// .keep-with-next {
//   page-break-after: avoid !important;
// }

.break-on-items {
  li:first-of-type {
    page-break-after: auto;
  }
  
  li:last-of-type {
    page-break-before: auto;
  }

  li {
    page-break-inside: avoid;
  }
}

