// SPACING

.title {
  margin-bottom: 5 * $line-height-default;
  padding-top: 6.5 * $line-height-default;
}

h1 {
  margin: 0;
  margin-bottom: $line-height-default;
}

h2 {
  margin: 0;
  margin-bottom: $line-height-default;
}

* + h2 {
  margin-top: 2 * $line-height-default;
}

h3 {
  margin: 0;
  margin-bottom: $line-height-default;
}

* + h3 {
  margin-top: 2 * $line-height-default;
}

.content > h1:first-child,
.content > h2:first-child,
.content > h3:first-child,
.content > h4:first-child,
.content > h5:first-child,
.content > h6:first-child {
  margin-top: 0;
}

p, p + p {
  margin-bottom: $line-height-default;
}