// SPACING

.title {
  margin-bottom: 6 * $line-height-default;
  padding-top: 6.5 * $line-height-default;
}

h1 {
  margin: 0;
  margin-bottom: $line-height-default;
}

h2 {
  margin: 0;
  margin-bottom: $line-height-default;
}

* + h2 {
  margin-top: 2 * $line-height-default;
}

h3 {
  margin: 0;
  margin-bottom: $line-height-default;
}

* + h3 {
  margin-top: 2 * $line-height-default;
}

.wrapper {
  margin-bottom: 2 * $line-height-default;
}

p, p + p {
  margin-bottom: $line-height-default;
}