// HEADERS

@page {
  @top-center {
    text-transform: none !important;
  }
}

// FOOTERS

@page {
  @bottom-center {
    white-space: pre-wrap;
    text-transform: none !important;
    line-height: $line-height-default !important;
  }
}

@page contents-page {
  @bottom-center {
    @include footer-style();
    @include footer-position();
    content: $verso-bottom;
  }
}

// Exceptions
.chapter { 
  prince-page-group: auto;
  margin-top: 0;
}

.document-title-page {
  prince-page-group: start;
}

// Add header to annex page
.annex {
  page: annex;
}

@page annex {
  @top-center {
    content: $verso-top;
    @include header-style();
    @include header-position();
  }
  
  @bottom-center {
    content: $verso-bottom;
    @include footer-style();
    @include footer-position();
  }
}